<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <bean id="testBean"
          class="ru.suleymanovtat.model.TestBean">
        <constructor-arg value="Suleymanov"/>
    </bean>

    <bean id="otherBean"
          class="ru.suleymanovtat.model.OtherBean">
        <constructor-arg value="testBean"/>
    </bean>

    <bean id="music"
          class="ru.suleymanovtat.model.ContemporaryMusic">
    </bean>
    <!--    <bean id="player"-->
    <!--          class="ru.suleymanovtat.Player">-->
    <!--&lt;!&ndash;        param object&ndash;&gt;-->
    <!--        <constructor-arg ref="music"/>-->
    <!--    </bean>-->
    <bean id="player"
          class="ru.suleymanovtat.Player">
        <property name="music" ref="music"/>
        <property name="id" value="10"/>
        <property name="name" value="MFL"/>
    </bean>
    <bean id="playerOther"
          class="ru.suleymanovtat.Player">
        <property name="music" ref="music"/>
        <property name="id" value="${musicPlayer.id}"/>
        <property name="name" value="${musicPlayer.name}"/>
    </bean>

</beans>